// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+HU:wght@100..400&display=swap');

body {
  font-family: 'Merriweather', serif;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.q-table {
  .q-field {
    height: 35px;
  }

  .q-field__control {
    height: 100%;
  }

  .q-field__append {
    height: auto;
  }

  .q-field__bottom {
    padding: 0;
    height: min-content;
    min-height: min-content;
    position: absolute;
    bottom: -2px;
  }

  .q-field__native {
    margin-bottom: 5px;
  }
}
